<h1>What is Angular</h1>

<p><a href="https://angular.io/docs" target="_blank">Angular</a> is a <a href="https://www.typescriptlang.org/docs" target="_blank">TypeScript</a> language based framework for creating front-end single page applications (SPA).</p>

<h3>Prerequisites</h3>

<ul>
  <li><a href="https://nodejs.org" target="_blank">Node.js</a></li>
  <li>
    <a href="https://angular.io/cli" target="_blank">Angular CLI</a>
    <ul>
      <li><code>npm i -g @angular/cli</code></li>
    </ul>
  </li>
</ul>

<h3>File structure</h3>

<ul>
  <li *ngFor="let fileStructure of fileStructures">
    <a [href]="fileStructure.url" target="_blank">
      {{ fileStructure.text }}
    </a>
  </li>
</ul>